<main>
    <h2>Contactez nous :</h2>
    <form method="post">
        <input type="text" name="nom" id="nom" placeholder="Nom" required><br/>
        <input type="text" name="prenom" id="prenom" placeholder="Prénom" required><br/>
        <input type="email" name="mail" id="mail" placeholder="Adresse mail" required><br/>
        <input type="text" name="sujet" id="sujet" placeholder="Sujet de la demande" required><br/>
        <input type="text" name="contenu" id="contenu" placeholder="Contenu de la demande" required><br/>
        <button onclick='alert("Message envoyé")'>Envoyer</button>
    </form>
</main>