<main>
    <h2>Ajouter un produit</h2>

    <form>
        <input type="text" id="quest" placeholder="Question"><br/>
        <input type="text" id="rep1" placeholder="Réponse 1"><br/>
        <input type="text" id="rep2" placeholder="Réponse 2"><br/>
        <input type="text" id="rep3" placeholder="Réponse 3"><br/>
        <input type="text" id="rep4" placeholder="Réponse 4"><br/>
        <input type="number" id="noBonneRep" placeholder="1"><br/>
    </form>
    <button (click)="addProd()">Ajouter la question</button>
</main>